<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <display-name>AVDPOOL</display-name>
  <description>Shows INTERLIS transfer files deliveries.</description>
 
  <!-- Welcome files -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Faces Servlet -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Faces Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <!-- Faces settings -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>

  <!-- Application parameters -->
  <context-param>
    <param-name>ch.so.agi.avdpool.infogrips.FTP_URL</param-name>
    <param-value>ftp.infogrips.ch</param-value>
  </context-param>
  
  <context-param>
    <param-name>ch.so.agi.avdpool.infogrips.FTP_DIR</param-name>
    <param-value>DM01AVSO24LV95/itf</param-value>
  </context-param>
    
  <context-param>
    <param-name>ch.so.agi.avdpool.infogrips.FTP_USR</param-name>
    <param-value>vaso</param-value>
  </context-param>

  <context-param>
    <param-name>ch.so.agi.avdpool.infogrips.FTP_PWD</param-name>
    <param-value>vaso123</param-value>
  </context-param>
  
</web-app>
